@import url("https://fonts.googleapis.com/css2?family=Rasa&family=Ubuntu+Mono&display=swap");

:root {
  --primary-color: #f9a826;
  --secondary-color: #3a3a60;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rasa", serif;
}

h1,
h2,
p {
  color: var(--primary-color);
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
}

#port {
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  font-size: 2rem;
}

#mainimage {
  height: 100vh;
  width: 100vw;
}

.navbar {
  display: flex;
}

.link {
  list-style: none;
  margin: 1.5rem;
}

.link a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 1rem;
}

.navbox {
  height: 5rem;
  background-color: var(--secondary-color);
  margin-bottom: 2rem;
  position: relative;
}

#tech {
  text-align: center;
  background-color: var(--secondary-color);
  width: 50%;
  margin: 3rem auto;
  border-radius: 1.5rem 3rem;
  padding: 1rem;
}

#tech h2 {
  font-size: 2rem;
}

#tech p {
  font-size: 1.5rem;
}

#project h2 {
  background-color: var(--secondary-color);
  font-size: 2rem;
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 2rem 35%;
  border-radius: 1.5rem 3rem;
  padding: 1rem;
}

.container {
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pbox {
  border: 0.2rem solid var(--secondary-color);
  border-radius: 1rem 2.5rem;
  padding: 1rem;
  width: 30%;
  background-color: #fffce3;
}

.pbox a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem 3rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  color: var(--primary-color);
}

.pbox p {
  text-align: center;
}

.link_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#react_apps h2 {
  background-color: var(--secondary-color);
  display: inline-block;
  font-size: 2rem;
  width: 30%;
  text-align: center;
  margin: 3rem 35%;
  border-radius: 1.5rem 3rem;
  padding: 1rem;
}

#react_box {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rbox {
  border: 0.2rem solid var(--secondary-color);
  border-radius: 1rem 2.5rem;
  padding: 1rem;
  width: 40%;
  background-color: #fffce3;
}

.rbox a {
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem;
  padding: 0.5rem 3rem;
  background-color: var(--secondary-color);
  border-radius: 1rem;
  color: var(--primary-color);
}

.rbox p {
  text-align: center;
}

footer {
  margin-top: 7rem;
  background-color: var(--secondary-color);
  padding: 2rem;
}

footer h2 {
  text-align: center;
  font-size: 2rem;
}

.last_box {
  display: flex;
  justify-content: center;
}

.last_box a {
  text-decoration: none;
  color: var(--primary-color);
  display: inline-block;
  margin: 1rem;
  font-size: 1.5rem;
}

.blog_h {
  text-align: center;
}

.blog_box p {
  font-size: 1.2rem;
}

.blog_box {
  width: 80%;
  margin: 2rem auto;
  background-color: var(--secondary-color);
}

.blog_h2 {
    margin-left: 2rem;
}
